In [6]:
#  Write a Python program to sum all the items in a list.
lst = [1,2,3,4,5]
s =0
for i in range(len(lst)):
    s += lst[i]
print(s)

15

In [7]:
# Write a Python program to multiply all the items in a list.
ls = [1,2,3,4,5,6]
m =1
for i in range(len(ls)):
    m *= ls[i]

print(m)

720

In [2]:
# Write a Python program to get the largest number from a list.
ls = [1,2,3,4,5,6,45,5,7,22,3,4,5,0,100,95]

me = -1
for i in ls:
    if  i > me:
        me = i

print(me)

100

In [6]:
# Write a Python program to count the number of strings from a given list of strings. 
# The string length is 2 or more and the first and last characters are the same.
# Sample List : ['abc', 'xyz', 'aba', '1221']
# Expected Result : 2

def no_of_str(lst):
    cnt = 0
    for i in lst:
        if len(i) >= 2 and i[0]==i[-1]:
            cnt += 1
    
    return cnt        

slist = ['abc', 'xyz', 'aba', '1221']
print(no_of_str(slist))

2

In [6]:
'''Write a Python program to get a list, sorted in increasing order by 
the last element in each tuple from a given list of non-empty tuples.
Sample List : [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
Expected Result : [(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]'''

def sort_by_2_ele(x):
    return x[1]

def sortingf(lst):
    
   # sorted_list = sorted(lst,key=sort_by_2_ele)
    sorted_list = sorted(lst, key = lambda x: x[1])
    return sorted_list
    


SampleList = [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
print(sortingf(SampleList))

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [7]:
# 7. Write a Python program to remove duplicates from a list.
sl = [1,2,3,4,3,3,6,7,889,8,8]
uniq =[]
for i in sl:
    if i not in uniq:
        uniq.append(i)

print(uniq)

[1, 2, 3, 4, 6, 7, 889, 8]

In [ ]:
li = []

print()

In [9]:
#Find the list of words that are longer than n from a given list of words
def find_words(str, n):
    words = []
    text = str.split(' ')
    
    for i in text:
        if len(i)>n:
            words.append(i)

    return words        



str = "The quick brown fox jumps over the lazy dog"
n = 3

print(find_words(str, n))

['quick', 'brown', 'jumps', 'over', 'lazy']

In [1]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "mango"]
print(thislist)

['apple', 'banana', 'cherry', 'orange', 'kiwi', 'mango']

In [2]:
thislist[1:3] = ["blackcurrant", "watermelon"]
print(thislist)

['apple', 'blackcurrant', 'watermelon', 'orange', 'kiwi', 'mango']

In [3]:
# extend in list , 
thislist = ["apple", "banana", "cherry"]
tropical = ["mango", "pineapple", "papaya"]
thislist.extend(tropical)
print(thislist)

['apple', 'banana', 'cherry', 'mango', 'pineapple', 'papaya']

In [5]:
thislist = ["apple", "banana", "cherry"]
thistuple = ("kiwi", "orange")
thislist.extend(thistuple)
print(thislist)

['apple', 'banana', 'cherry', 'kiwi', 'orange']

In [6]:
my_list = [1, 2, 3]

# Adding elements from different iterables
tuple_to_add = (4, 5, 6)
set_to_add = {7, 8, 9}
string_to_add = "hello"

In [10]:
my_list.extend(tuple_to_add)
my_list.extend(set_to_add)
my_list.extend(string_to_add)
print(my_list)

[1, 2, 3, 4, 5, 6, 4, 5, 6, 8, 9, 7, 4, 5, 6, 8, 9, 7, 'h', 'e', 'l', 'l', 'o']

In [11]:
# remove the item
thislist = ["apple", "banana", "cherry"]
thislist.remove('apple')

In [19]:
thislist

['banana', 'cherry', 'mango', 'mango', 'apple']

In [20]:
thislist.pop() #remove last emelemt

'apple'

In [21]:
thislist

['banana', 'cherry', 'mango', 'mango']

In [22]:
thislist.pop(3) #removes 3rd indexed elemnt

'mango'

In [23]:
thislist

['banana', 'cherry', 'mango']

In [24]:
thislist.clear()

[]

In [ ]:
thislist

In [28]:
# looping list
ll = ['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig']
for i in ll:
    print(i)

#using len and range
n = len(ll)
for i in range(n):
    print('another ', ll[i])

apple
banana
cherry
date
elderberry
fig
another  apple
another  banana
another  cherry
another  date
another  elderberry
another  fig

In [35]:
# using while loop
i = 0
while i < n:
    print(ll[i])
    i +=1

apple
banana
cherry
date
elderberry
fig

In [40]:
fruits = ["apple", "banana", "cherry", "kiwi", "mango"]
newlist = [x for x in fruits if  'a' in x]
print(newlist)

['apple', 'banana', 'mango']

In [1]:
fruits = ['apple', 'banana', 'cherry']

fruits.reverse()

In [2]:
print(fruits)

['cherry', 'banana', 'apple']

In [3]:
fruits.pop(2)

'apple'

In [4]:
print(fruits * 2)

['cherry', 'banana', 'cherry', 'banana']

In [5]:
tpl = ("w", 3, "r", "s", "o", "u", "r", "c", "e")
li = list(tpl)

In [6]:
li.remove('r')

In [7]:
tpl =tuple(li)
print(tpl)

('w', 3, 's', 'o', 'u', 'r', 'c', 'e')