In [6]:
names = ['shekhar','krishna','ram']
result = ''

for name in names:
    result += name
    result = result + ' '

print(result)

shekhar krishna ram

In [7]:
# using .join() method
result =' '.join(names)
print(result)

shekhar krishna ram

In [8]:
labour_cost = {'shekhar':200,'sachin':400, 'shreys':500, 'pawan':300}
result = ' * '.join(labour_cost)
print(result)

shekhar * sachin * shreys * pawan

In [9]:
# join takes only str values , if give any other data type it will throw error
labour_cost = {1:200,'sachin':400, 'shreys':500, 'pawan':300}
result = ' * '.join(labour_cost)
print(result)

TypeError: sequence item 0: expected str instance, int found

In [10]:
state_dept_info = [{'state':'bihar','department':'IT'},
                    {'state':'UP','department':'Sales'}                   
                   ]

query = '''SELECT 
    emp.emp_id,
    emp.emp_name,
    emp.salary,
    dept.dept_name
FROM 
    emp
JOIN 
    dept ON emp.dept_id = dept.dept_id
WHERE 
    emp.salary > 55000;
'''

In [19]:
# write to code to make sql query in such way that it can have filter of state and dept
finel_filter_condition = []
for condition in state_dept_info:
    for key,value in condition.items():
        finel_filter_condition.append(f"{key}={value}")
        print(f"{key}={value}")

print(finel_filter_condition)

state=bihar
department=IT
state=UP
department=Sales
['state=bihar', 'department=IT', 'state=UP', 'department=Sales']

In [20]:
finel_result = ' OR '.join(finel_filter_condition)
print(finel_result)

state=bihar OR department=IT OR state=UP OR department=Sales

In [21]:
print(query + " AND " + finel_result)

SELECT
    emp.emp_id,
    emp.emp_name,
    emp.salary,
    dept.dept_name
FROM
    emp
JOIN
    dept ON emp.dept_id = dept.dept_id
WHERE
    emp.salary > 55000;
 AND state=bihar OR department=IT OR state=UP OR department=Sales